.homepage-container {
    height: 100vh;
    background: linear-gradient(to top right, #08aeea 0%, #b721ff 100%);
    font-family: open sans, arial, helvetica neue, sans-serif;
}



.heading {
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #000000ac;
    color: white;
    height: 60px;
}


.buttons {
    display: flex;
    gap: 20px;
}


.homepage-content {
    display: flex;
    justify-content: center;
    position: relative;
    top: 8rem;
}

.logout-button {
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}